.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--navbar-height); /* 👈 CLAVE */
}

main {
    flex: 1;
    padding: 20px;
}

.btnaa {
    margin-left: auto;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
    color: #ddd;
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.06);
    transition: 0.2s;
}

    .btnaa:hover {
        background: rgba(255, 59, 59, 0.18);
        border-color: rgba(255, 59, 59, 0.5);
        color: #fff;
    }